### 딕셔너리
- 데이터를 쌍으로 저장하는 자료구조
- key와 value 로 묶어서 저장한다
- key 값으로 데이터를 탐색하기 때문에 데이터 접근 속도가 빠르다
- 단, 순서가 존재하지 않는다는 특징이 있다

# 활용실습

#### score_dict 로부터 아래 문제를 해결하는 프로그램을 완성하시오

In [ ]:
score_dict = {'이름' : ['손지영', '김은영' , '김운비', '채수민', '최성우'], 'python' : [90,100,85,90,80] , 'java' : [85,80,100,95,85] , 'html/css' : [75,70,90,80,90]}
score_dict

{'이름': ['손지영', '김은영', '김운비', '채수민', '최성우'],
 'python': [90, 100, 85, 90, 80],
 'Java': [85, 80, 100, 95, 85],
 'html/css': [75, 70, 90, 80, 90]}

In [ ]:
# 이름에 해당하는 과목 데이터에 접근하여 전 과목의 성적 평균 구하기
# (소수점 둘째 자리 까지)
# 입력한 이름 정보를 찾을 수 없다면 검색 결과가 없습니다 출력


input_name = input("이름을 정확하게 기입하세요 >>> ")
if input_name in score_dict['이름'] :
    i = score_dict['이름'].index(input_name)
    print(i)
    avg = (score_dict['python'][i] + score_dict['Java'][i]  + score_dict['html/css'][i]) / 3.0 
    print(f"{input_name} 의 전과목 성적 평균 {round(avg,2)}")
else : 
    print("검색 결과가 없습니다")

3
채수민 의 전과목 성적 평균 88.33

In [ ]:
# 이름에 해당하는 과목 데이터에 접근하여 전 과목의 성적 평균 구하기
# (소수점 둘째 자리 까지)
# 입력한 이름 정보를 찾을 수 없다면 검색 결과가 없습니다 출력

input_name = input("이름을 정확하게 기입하세요 >>> ")

if input_name in score_dict['이름']:
     for i, name in enumerate(score_dict['이름']):
        if  input_name == name :
            name_index = i
            avg = (score_dict['python'][i] + score_dict['java'][i]  + score_dict['html/css'][i]) / 3.0 

     print(f"{input_name} 의 전과목 성적 평균 {round(avg,2)}")

손지영 의 전과목 성적 평균 83.33

### 집합
- 집합연산을 할 수 있는 데이터 타입
- 합집합, 차집합, 교집합 연산이 가능
- 순서가 없다
- 중복을 허용하지 않는다

In [ ]:
# 1.  집합의 생성 (선언)
my_set = set()
my_set

set()

In [ ]:
my_set2=set([1,2,3,4,5])
my_set2

{1, 2, 3, 4, 5}

In [ ]:
my_set3 = set("apple")
my_set3

{'a', 'e', 'l', 'p'}

In [ ]:
my_set4 = set([3,4,7,8,9])
my_set4

{3, 4, 7, 8, 9}

In [ ]:
# 2. 합집합
my_set2 | my_set4

{1, 2, 3, 4, 5, 7, 8, 9}

In [ ]:
# 3. 교집합
my_set2 & my_set4

{3, 4}

In [ ]:
# 4. 차집합 
my_set2 - my_set4 # 2번 집합만 고유하게 가진 내용 출력

{1, 2, 5}

In [ ]:
my_set4-my_set2 # 4번집합만 고유하게 가진 내용 출력

{7, 8, 9}